h1{
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image: url(./img/Records.jpg);
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: white;
    font-size: 16px;
    text-align: justify;
    background-color: black;
  }

h2{
    font-family: 'Segoe UI', Verdana, sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
}

#one{
    background-color: #ef8354;
}

#two {
    background-color: #0e7c7b;
}

#three {
    background-color: #9c538b;
}

a:link {
    color: #ef8354;
} 

a:hover {
    color: #9c528b;
} 

footer{
    text-align: center;
}